#home
    #top.clearfix
        .content
            h1= newspaper
            each tweet in tweets
                h5 #{tweet.time}
                h6 Followers: #{tweet.followers_count} - Retweets: #{tweet.retweet_count}
                p #{tweet.content}
                p -----------------------------------------------------------------------------------------------------------------------------------------
            h6 created by Chris Reich